[data-id='prev-loader'] > svg {
	width: 3.25em;
	transform-origin: center;
	animation: rotationLinear 2s linear infinite;
}

circle {
	fill: none;
	stroke: hsl(214, 97%, 59%);
	stroke-width: 2;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: dashesFour 1.5s ease-in-out infinite;
}

@keyframes rotationLinear {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dashesFour {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dashoffset: -125px;
	}
}
