.main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-background-color);
}

.container {
	display: grid;
	/* grid-template-columns: repeat(7, minmax(0, 1fr)); */
	grid-template-columns: repeat(8, minmax(0, 1fr));
	/* max-width: 64rem; */
	max-width: 99%;
	gap: 15rem;
}

a{
	text-decoration: none;
}

.card-container {
	display: grid;
	grid-column: span 1;
	position: relative;
}

.group {
	cursor: pointer;
	justify-content: center;
	width: 100%;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	background-color: var(--secondary-background-color);
	border-radius: 0.125rem;
	padding-top: 1.5rem; 
	padding-bottom: 1.5rem; 
	padding-right: 1.5rem; 
	padding-bottom: 1.5rem; 
	padding-left: 2.25rem;
}

.group:hover  {
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	border-radius: 0.5rem;
	margin-left: 0.25rem; 
	margin-right: 0.25rem; 
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 75ms;
	transition-duration: 200ms;
	color: rgb(55 65 81);
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	color: var(--text-color-paragraph);
}

.description {
	font-size: 0.875rem; 
	line-height: 1.25rem; 
	font-weight: 600;
	color: var(--text-color-paragraph);
	margin-top: .5rem;
	line-height: 1.5rem;
}


.horizontal-bar {
	background-color: rgb(96 165 250);
	height: 100%;
	width: 1rem;
	position: absolute;
	top: 0;
	left: 0;
}

group:hover .horizontal {
	background-color: rgb(37 99 235);
}
