.card {
	background-color: var(--bg-card-roaster-color);
	padding: 2rem;
	text-align: center;
	border-radius: 0.5rem;
	border-style: dashed;
	border-width: 2px;
	border-color: rgb(209 213 219);
}

.card:hover {
	border-color: rgb(59 130 246);
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	transform: scale(1.05);
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.input-add {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.5rem;
}

.icon-plus{
	width: 4rem;
	height: 4rem;
	color: var(--text-color-btn-plus); 
}

.principal-text {
	color: var(--text-color-principal); 
}

.secondary-text {
	color: var(--text-color-secondary);
	font-size: 0.875rem; 
	line-height: 1.25rem;
}

.div1, .div2 {
	float: left;
	width: 20rem;
	height:20rem;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	background: white;
  }
